name: Test Flask Main
on:
  pull_request:
    paths-ignore: ['docs/**', 'README.md']
  push:
    branches: [main, stable]
    paths-ignore: ['docs/**', 'README.md']
jobs:
  flask-tests:
    name: flask-tests
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: true
          prune-cache: false
      - run: git clone https://github.com/pallets/flask
      - run: uv venv --python 3.14
        working-directory: ./flask
      - run: source .venv/bin/activate
        working-directory: ./flask
      - run: uv sync --all-extras
        working-directory: ./flask
      - run: uv run --with "git+https://github.com/pallets/click.git@main" -- pytest
        working-directory: ./flask
